# Loop Statements

- used to execute a block of statements repeatedly until a given condition is satisfied
- there are 2 types of loops:
  
  1.for
  
  2.while

# 1.while loop

- run the code till the condition satisfies

- mostly used in numerics

- print statement should be written after the while condition

- while loop has 2 important conditions

- initializer: where the code is starting

- increment : for how much value we need increment

- syntax:

   while condition:
- here:

- A while loop evaluates the condition

- if condition is true,the code inside the while loop is executed

- condition evaluated again

- this process continues until condition is false

- when the condition evaluates to false, then the code stops

In [5]:
number = 1

while number <= 3:
    print(number)
    number = number + 1

1
2
3

In [6]:
i = 10

while i <=30:
    print(i)
    i=i+10

10
20
30

# 2.For loop

- iterates the sequence of the data

- outps will always be given in vertical format

- syntax:

for val in sequence : #statement

- here,value access each item of the sequence on each iteration

- the loop continues until we reach the last item in the sequence

In [9]:
a="sushma"

for x in a:
    print(x)

s
u
s
h
m
a

In [10]:
h=["s","u","s","h","m","a"]

for s in h:
    print(s)

s
u
s
h
m
a

In [11]:
tuple1=("hello","datascience")

for b in tuple1:
    f=print(b)

hello
datascience

In [12]:
dict = {"name":"sushma","Age":20,"College":"sathyabama"}

for key,values in dict.items():
    print(key,values)

name sushma
Age 20
College sathyabama

In [13]:
dict = {"name":"sushma","Age":20,"College":"sathyabama"}

for key,value in dict.items():
    print(f"key is {key} and value is {value}")

key is name and value is sushma
key is Age and value is 20
key is College and value is sathyabama

# Q1 write a python program to check given year is leap or not

In [15]:
years = [2000, 2001, 2002, 2003, 2004]

for y in years:
    if y % 4 == 0 :
        print(f"{y} is a leap year.")
    else:
        print(f"{y} is not a leap year.")

2000 is a leap year.
2001 is not a leap year.
2002 is not a leap year.
2003 is not a leap year.
2004 is a leap year.

In [16]:
years = [2000, 2001, 2004, 1900, 2000]
index = 0

while index < len(years):
    year = years[index]
    if year % 4 == 0 :
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")
    index += 1

2000 is a leap year.
2001 is not a leap year.
2004 is a leap year.
1900 is a leap year.
2000 is a leap year.

# Q2 python program to find a given number even or odd

In [18]:
numbers = 1,2,3,4,5

for i in numbers:
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [19]:
numbers = [1, 2, 3, 4, 5]
index = 0

while index < len(numbers):
    i = numbers[index]
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    index += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd

# Q3 python program to check if a list is empty or not

In [21]:
lst = []

for item in lst:
    print("The list is not empty.")
    break
else:
    print("The list is empty.")

The list is empty.

In [22]:
lst = []
index = 0

while index == 0:
    print("empty")
    break

empty

# Q4 python program to calculate grade of a students

In [30]:
grades_input = input("Enter grades separated by commas: ")

# Split the string into individual grade strings and convert to integers
grades = [int(mark.strip()) for mark in grades_input.split(',')]

#Splitting the string into individual grade strings.
#Stripping whitespace from each grade string.

for mark in grades:
    if mark >= 90:
        print(f"{mark}: A")
    elif mark >= 80:
        print(f"{mark}: B")
    elif mark >= 70:
        print(f"{mark}: C")
    elif mark >= 60:
        print(f"{mark}: D")
    elif mark >= 50:
        print(f"{mark}: E")
    else:
        print(f"{mark}: F")

Enter grades separated by commas:  89,56

89: B
56: E

In [36]:
grades_input = input("Enter grades separated by commas: ")
grades = [int(mark.strip()) for mark in grades_input.split(',')]
#Splitting the string into individual grade strings.
#Stripping whitespace from each grade string.

index = 0

while index < len(grades):
    mark = grades[index]
    if mark >= 90:
        print(f"{mark}: A")
    elif mark >= 80:
        print(f"{mark}: B")
    elif mark >= 70:
        print(f"{mark}: C")
    elif mark >= 60:
        print(f"{mark}: D")
    elif mark >= 50:
        print(f"{mark}: E")
    else:
        print(f"{mark}: F")
    
    index += 1  # Move to the next index

Enter grades separated by commas:  87,67

87: B
67: D

# Q5.check whether given word is a palindrome or not

In [40]:
word = input("Enter your word: ")
for i in word:
    if word == word[::-1]:
        print("The word is a palindrome.")
        break
    else:
        print("The word is not a palindrome.")
        break

Enter your word:  121

The word is a palindrome.

In [42]:
word = input("Enter your word: ")

while True: 
    if word == word[::-1]: 
        print("The word is a palindrome")
        break 
    else:
        print("The word is not a palindrome")
        break

Enter your word:  13231

The word is a palindrome

# Q6.write a python program to find the smallest among the three number

In [48]:
smallest = float('inf')

for i in range(3):
    num = int(input(f"Enter number {i + 1}: "))
    if num < smallest:
        smallest = num  

print(f"The smallest number is: {smallest}")

Enter number 1:  7
Enter number 2:  9
Enter number 3:  6

The smallest number is: 6

In [7]:
smallest = float('inf')
count = 0

while count < 3:
    num = int(input("Enter a number: "))
    if num < smallest:
        smallest = num
        
    count += 1 

print(f"The smallest number is: {smallest}")

Enter a number:  90
Enter a number:  54
Enter a number:  100

The smallest number is: 54

# Q7.find the second largest number in a list

In [22]:
my_list = [2, 5,8,10]
largest = second_largest = 0

for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num

print(second_largest)

8

In [24]:
my_list = [1, 2,5,6]
largest = second_largest = 0
index = 0

while index < len(my_list):
    num = my_list[index]
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num
    
    index += 1
print(second_largest)

5

# Q8.calculate Body Mass Index and categorize it

In [49]:
n=0
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (cm): "))

for n in range(1):  # Loop runs only once
    bmi = weight / (height ** 2)
    if bmi < 18.5:
        category = "Underweight"
    elif 18.5 <= bmi < 24.9:
        category = "Normal weight"
    elif 25 <= bmi < 29.9:
        category = "Overweight"
    else:
        category = "Obesity"
    print(f"Weight: {weight} kg, Height: {height} m, Category: {category}")

Enter weight (kg):  90
Enter height (cm):  199

Weight: 90.0 kg, Height: 199.0 m, Category: Underweight

In [53]:
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (cm): "))
index = 0

while index < 1:  # Loop will run only once
    bmi = weight / (height ** 2)

    if bmi < 18.5:
        category = "Underweight"
    elif 18.5 <= bmi < 24.9:
        category = "Normal weight"
    elif 25 <= bmi < 29.9:
        category = "Overweight"
    else:
        category = "Obesity"
    print(f"Weight: {weight} kg, Height: {height} m, Category: {category}")
    index += 1

Enter weight (kg):  100
Enter height (cm):  90

Weight: 100.0 kg, Height: 90.0 m, Category: Underweight

# Q9.python program to check vote eligiblity

In [66]:
age = [24, 31, 7, 10, 9,91]

for n in age:
    if n >= 18:
        print(f"Age {n} is  eligible")
    else:
        print(f"Age {n} is not eligible")

Age 24 is  eligible
Age 31 is  eligible
Age 7 is not eligible
Age 10 is not eligible
Age 9 is not eligible
Age 91 is  eligible

In [ ]:
age = [24, 31, 18, 10, 9]
index = 0

while index < len(age):
    n = age[index]
    if n >= 18:
        print(f"Age {n} is eligible")
    else:
        print(f"Age {n} is not eligible")
    index += 1

# Q10.python program to find the person age belong to which group

In [26]:
i = 0
age = int(input("Enter your age: "))
for i in range(1): 
    if age <= 22:
        print(f"Age {age} is School group")
    elif age > 22 and age <= 50:
        print(f"Age {age} is Work group")
    else:
        print(f"Age {age} is  Retire group")

Enter your age:  23

Age 23 is Work group

In [87]:
age = int(input("Enter your age: "))
count = 0

while count < 1:
    if age <= 22:
        print(f"Age {age}: School group")
    elif age > 22 and age <= 50:
        print(f"Age {age}: Work group")
    else:
        print(f"Age {age}: Retire group")
    
    count += 1

Enter your age:  43

Age 43: Work group