# Define sets

- unordered collections of unique elements.
- Defined using curly braces {} and seperated by comas ,.
- can store multiple items in a single variable
- mutable,doesnot allow elements
- provies variety of methods and set operations

 # Creating sets

my_set = set([1, 2, 2, 3, 4])  
print(my_set)

In [7]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [9]:
mixed_set = {1, 'apple', 3.14, (2, 3)}
print(mixed_set)

{(2, 3), 1, 3.14, 'apple'}

In [11]:
list_example = [1, 2, 2, 3, 4]
my_set = set(list_example)
print(my_set)

{1, 2, 3, 4}

In [13]:
empty_set = set()
print(empty_set)

set()

# Adding the element in set

- add items to a set 
- we use add()

In [17]:
my_set = {1, 2, 3}
my_set.add(4)
print("After adding 4:", my_set)

After adding 4: {1, 2, 3, 4}

In [19]:
my_set.update([4, 5, 6])
print("After adding 4, 5, 6:", my_set)

After adding 4, 5, 6: {1, 2, 3, 4, 5, 6}

In [23]:
mixed_set.add((2, 3))  # Adding a tuple
mixed_set.add(42) 
print(mixed_set)

{1, 3.14, 42, (2, 3), 'apple'}

In [25]:
my_set.add(2)
print("After trying to add 2 again:", my_set)

After trying to add 2 again: {1, 2, 3, 4, 5, 6}

In [27]:
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 10}

# Updating the set:

- used to update the set with another collection types
- we use update()

In [31]:
my_set.update([4, 5, 6])
print("After adding from list:", my_set)

After adding from list: {1, 2, 3, 4, 5, 6, 10}

In [ ]:
set_a = {1, 2, 3}
set_b = {4, 5, 6}
set_a.update(set_b)
print("After updating with another set:", set_a)

In [35]:
my_set.update((4, 5))
print("After adding from tuple:", my_set)

After adding from tuple: {1, 2, 3, 4, 5, 6, 10}

In [37]:
my_set.update({x**2 for x in range(4)})
print("After adding squares:", my_set)

After adding squares: {0, 1, 2, 3, 4, 5, 6, 9, 10}

In [39]:
my_set.update([4, 5, 6,10,11,12])
print("After adding from list:", my_set)

After adding from list: {0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

# Removing the item from set

- removes the sepcified element from a set
- we use discard()

In [43]:
my_set.remove(3)
print(my_set)

{0, 1, 2, 4, 5, 6, 9, 10, 11, 12}

In [57]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print("After removing 3:", my_set)

After removing 3: {1, 2, 4, 5}

In [59]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)  

my_set.discard(2)
print("After discarding 2:", my_set)

Original set: {1, 2, 3, 4, 5}
After discarding 2: {1, 3, 4, 5}

In [61]:
my_set.discard(10) 
print("After trying to discard 10:", my_set)

After trying to discard 10: {1, 3, 4, 5}

In [63]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)  

for item in [2, 4]:
    my_set.remove(item)
print("After removing 2 and 4:", my_set)

Original set: {1, 2, 3, 4, 5}
After removing 2 and 4: {1, 3, 5}

# Python operations

- provides different built in methods to perform mathematical set operation
- like union,difference,intesection

1.union:

- the union of two sets A and B include all the elements of set A and set B
- combines all the elements from set A and set B
- sumbol : |
- or set A.union(set B)

In [71]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a | set_b 
print(union_set)

{1, 2, 3, 4, 5}

In [75]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [77]:
set_a = {1, 2}
set_b = {3, 4}
set_c = {4, 5, 6}
union_set = set_a.union(set_b, set_c)
print("Union of three sets:", union_set)

Union of three sets: {1, 2, 3, 4, 5, 6}

In [81]:
set_a = {1, 2}
set_b = {3, 4}
set_c = {4, 5}
result = set_a.union(set_b, set_c)
print(result)

{1, 2, 3, 4, 5}

In [83]:
set_a = {1, 2}
set_b = {3, 4}

set_a.update(set_b)
print(set_a)

{1, 2, 3, 4}

2.Intersection:

- gives common elemnts in set A and set B
- symbol : &
- or set A.intersection(set B)

In [89]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

result = set_a.intersection(set_b)
print(result)

{2, 3}

In [92]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

result = set_a & set_b
print(result)

{2, 3}

In [94]:
set_a = {1, 2, 3, 3} 
set_b = {3, 4, 5}
result = set_a.intersection(set_b)
print(result)

{3}

In [104]:
set_a = {1, 2, 3, 4}
set_b = {2, 3, 4}
set_c = {3, 5,4}
result = set_a.intersection(set_b, set_c)
print(result)

{3, 4}

In [106]:
set_a = {1, 'apple', 2.5}
set_b = {2.5, 'banana', 'apple'}
result = set_a & set_b
print(result)

{2.5, 'apple'}

3.Difference:

- returns all the elements in set A not in set B
- no common items
- symbol : -
- or setA.difference(set B)

In [110]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
result = set_a.difference(set_b)
print(result)

{1}

In [112]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
result = set_a - set_b
print(result)

{1}

In [115]:
set_a = {1, 2, 2, 3}
set_b = {2, 3, 4}
result = set_a.difference(set_b)
print(result)

{1}

In [121]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
set_c = {3, 5,2}
result = set_a.difference(set_b, set_c)
print(result)

{1}

4.symmetric Difference:

- returns all the elements in both sets A and B 
- but no common elements
- symbol : ^
- or A.Symmetric_difference(B)

In [127]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = set_a.symmetric_difference(set_b)
print(result)

{1, 2, 4, 5}

In [129]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = set_a ^ set_b
print(result)

{1, 2, 4, 5}

In [131]:
set_a = {1, 2, 2, 3}
set_b = {3, 4, 5}
result = set_a.symmetric_difference(set_b)
print(result)

{1, 2, 4, 5}

In [133]:
set_a = {1, 2}
set_b = {2, 3}
set_c = {3, 4}
result = set_a.symmetric_difference(set_b).symmetric_difference(set_c)
print(result)

{1, 4}

In [135]:
set_a = {1, 'apple'}
set_b = {'apple', 2}
result = set_a.symmetric_difference(set_b)
print(result)

{1, 2}