# 1. define about dictionaries

- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Dictionaries are written with curly brackets, and have keys and values:
- Dictionary items are ordered, changeable, and do not allow duplicates.
- they are mutable
- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
- Dictionaries cannot have two items with the same key:

# 2. create 10 examples

In [3]:
thisdict = {
  "brand": "Ford", "model": "Mustang","year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [5]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [7]:
person = dict(name="Alice", age=28, city="New York")
print(person)

{'name': 'Alice', 'age': 28, 'city': 'New York'}

In [9]:
fruit = dict(name="Banana", calories=105, carbs=27)
print(fruit)

{'name': 'Banana', 'calories': 105, 'carbs': 27}

In [11]:
movie = dict(title="Inception", director="Christopher Nolan", rating=8.8)
print(movie)

{'title': 'Inception', 'director': 'Christopher Nolan', 'rating': 8.8}

In [13]:
car = dict(brand="Toyota", model="Camry", year=2020)
print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2020}

In [15]:
course = dict(name="Python Programming", duration="6 months", level="Beginner")
print(course)

{'name': 'Python Programming', 'duration': '6 months', 'level': 'Beginner'}

In [17]:
person = dict(name="Alice", age=28, city="New York")
print(person)

{'name': 'Alice', 'age': 28, 'city': 'New York'}

# 3.modify the dictionaries

In [20]:
person = dict(name="Alice", age=28)
print(person)

# Adding a new key-value pair
person["city"] = "New York"
print(person)

{'name': 'Alice', 'age': 28}
{'name': 'Alice', 'age': 28, 'city': 'New York'}

In [22]:
car = dict(brand="Toyota", model="Camry", year=2020)
print(car)

# Updating the year
car["year"] = 2021
print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2020}
{'brand': 'Toyota', 'model': 'Camry', 'year': 2021}

In [24]:
cricketers={"name":"ms dhoni","jersy number":"77","score":"101"}
cricketers["jersy number"]="7"
print(cricketers)

{'name': 'ms dhoni', 'jersy number': '7', 'score': '101'}

In [26]:
car = dict(brand="BMW", model="Camry", year=2000)
print(car)

# Updating the year
car["year"] = 2021
print(car)

{'brand': 'BMW', 'model': 'Camry', 'year': 2000}
{'brand': 'BMW', 'model': 'Camry', 'year': 2021}

In [28]:
profile = dict(name="John", age=30, city="Los Angeles")
print(profile)

# Updating multiple values
profile.update({"age": 31, "city": "San Francisco"})
print(profile)

{'name': 'John', 'age': 30, 'city': 'Los Angeles'}
{'name': 'John', 'age': 31, 'city': 'San Francisco'}

# 4. adding a new entry

In [31]:
car = dict(brand="Honda", model="Civic")
print(car)

# Adding a new key-value pair
car["year"] = 2022
print(car)

{'brand': 'Honda', 'model': 'Civic'}
{'brand': 'Honda', 'model': 'Civic', 'year': 2022}

In [33]:
profile = dict(name="Tom", age=25)
print(profile)

# Adding multiple key-value pairs
profile.update({"city": "Miami", "occupation": "Engineer"})
print(profile)

{'name': 'Tom', 'age': 25}
{'name': 'Tom', 'age': 25, 'city': 'Miami', 'occupation': 'Engineer'}

In [35]:
shopping_list = dict(fruits=["apple", "banana"])
print(shopping_list)

# Adding a new fruit to the list
shopping_list["fruits"].append("orange")
print(shopping_list)

{'fruits': ['apple', 'banana']}
{'fruits': ['apple', 'banana', 'orange']}

In [37]:
person = dict(name="Bob", age=34)
print(person)

# Adding a new key-value pair
person["favorite_color"] = "blue"
print(person)

{'name': 'Bob', 'age': 34}
{'name': 'Bob', 'age': 34, 'favorite_color': 'blue'}

In [39]:
employee = dict(name="Sara", age=29)
print(employee)

# Adding a new key-value pair
employee["job_title"] = "Data Scientist"
print(employee)

{'name': 'Sara', 'age': 29}
{'name': 'Sara', 'age': 29, 'job_title': 'Data Scientist'}

In [41]:
contact = dict(name="Emily", age=27)
print(contact)

# Adding a new key-value pair
contact["email"] = "emily@example.com"
print(contact)

{'name': 'Emily', 'age': 27}
{'name': 'Emily', 'age': 27, 'email': 'emily@example.com'}

# 5. methods for dictionaries

1. get()
Returns the value for a specified key. If the key does not exist, it returns None or a specified default value.

In [47]:
person = {"name": "Alice", "age": 28}
print(person.get("name"))  # Output: Alice
print(person.get("city", "Not found"))

Alice
Not found

2. keys()
Returns a view object that displays a list of all the keys in the dictionary.

In [50]:
print(person.keys())

dict_keys(['name', 'age'])

3. values()
Returns a view object that displays a list of all the values in the dictionary.

In [53]:
print(person.values())

dict_values(['Alice', 28])

4. items()
Returns a view object that displays a list of the dictionary’s key-value tuple pairs.

In [56]:
print(person.items())

dict_items([('name', 'Alice'), ('age', 28)])

5. update()
Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs.

In [59]:
person.update({"city": "New York", "age": 29})
print(person)

{'name': 'Alice', 'age': 29, 'city': 'New York'}

6. pop()
Removes the specified key and returns its value. If the key does not exist, it raises a KeyError, unless a default value is provided.

In [85]:
age = person.pop("age")
print(age)  
print(person)

28
{'name': 'Alice', 'city': 'New York'}

7. popitem()
Removes and returns the last inserted key-value pair as a tuple. Raises KeyError if the dictionary is empty.

In [76]:
item = person.popitem()
print(item)  
print(person)

('country', 'USA')
{}

8. clear()
Removes all elements from the dictionary.

In [68]:
person.clear()
print(person)

{}

9. setdefault()
Returns the value of a specified key. If the key does not exist, it inserts the key with a specified value

In [74]:
person.setdefault("country", "USA")
print(person)  

person.setdefault("country", "Canada")
print(person)

{'country': 'USA'}
{'country': 'USA'}

10. copy()
Returns a shallow copy of the dictionary.

In [80]:
new_person = person.copy()
print(new_person)

{}