# 1) define about strings

- string is a sequence of characters- 
we can use single quotes(' '),double quotes(" ")or triple quotes(''' ''')- 
we can manipulate the variables by using various operations and string method- s
the string classbcan be represented by "str"

# 2) create 10 elements using ' ' and " "

In [9]:
z='apple'
print(z)

c='monkey'
print(c)

a='thala'
print(a)

ab='100'
print(ab)

c="harsha"
b=a*7
print(c)

str1='sushma'
str3= """this is a string"""
print(str3)

str1="hello world"
print(str1)

str1="sathyabama"
print(str1)

str1="1 2 3"
print(str1)

teks="data science "
print(teks *3)

teks="datascience "
print(teks *3)

apple
monkey
thala
100
harsha
this is a string
hello world
sathyabama
1 2 3
data science data science data science
datascience datascience datascience

# 3) create a string 50 characters and access any 10 using index and slicing any 2 examples

In [17]:
str="Hi sushma here from vijaywada"
print(str[1])
print(str[1])
print(len(str))
print(str[9])
print(str[2])
print(str[0])
print(str[17])
print(str[-7])
print(str[5])
print(str[2])
print(str[3])
print(str[-3])
print(str[7])
print(str[-1])

i
i
29


H
o
j
s

s
a
m
a

In [29]:
str="Hisushmaherefromvijaywada"
print(str[1])
print(str[1])
print(len(str))
print(str[9])
print(str[2])
print(str[0])
print(str[17])
print(str[-7])
print(str[5])
print(str[2])
print(str[3])
print(str[-3])
print(str[7])
print(str[-1])

print(str[2:16])
print(str[7:-6])

i
i
25
e
s
H
i
j
h
s
u
a
a
a
sushmaherefrom
aherefromvij

# 4) explain about string formats

-string formats are classified into three types:
  1.
old style  2.
format styl  3.e
f string meterator

1).old style format:

- it uses the % operator

In [31]:
name="sushma"
age=20
str="my name is %s and i'm %d years old"%(name,age)
print(str)

my name is sushma and i'm 20 years old

2.format style :

- it uses the {} operator

In [37]:
name="sushma"
age=20
formated_str="my name is {} and i'm {} years old".format(name,age)
print(formated_str)

my name is sushma and i'm 20 years old

3.f-string method:

to simplify string formatting and interpolation
f-string is used where expressions inside curly braces {} are evaluted

In [39]:
name="sushma"
age=20
str=f"my name is {name} and i'm {age} years old."
print(str)

my name is sushma and i'm 20 years old.

# 5) apply operations

1.concatnation:

- adding of things

In [41]:
a="my name is"
b="sushma"
c=a+' '+b
print(c)

my name is sushma

2.repetition:

- repeat values of a string

In [45]:
str1="vijaywada "
str2=str1*4
print(str2)

vijaywada vijaywada vijaywada vijaywada

3.slicing:

- slicing is a process of extracting a substring from a string

In [85]:
str1="my name is sushma"
print(str[0])
print(str[12])

m
a

4.indexing:

-accessing individual character in a string

In [59]:
str1="im from vijaywada "
print(str[8:-10])
print(str[2:6])

is sushma and i'm 20
 nam

# Remaining methods:

1.len(): 
-counts the characters in a string

In [61]:
my_string="hi world"
print(len(my_string))

8

2.lower()/upper():
-converts entire data into lower/upper

In [63]:
my_string="hello"
print(my_string.upper())

HELLO

In [65]:
my_string="hello"
print(my_string.lower())

hello

3.strip():
-used to remove spaces beggining and ending

In [71]:
my_string="  sushmaaa     "
stripped_string=my_string.strip()
print(stripped_string)

sushmaaa

4.replace():
-replace substring with another substring

In [75]:
my_string="my name is sushma"
str=my_string.replace("sushma","sathyabama")
print(str)

my name is sathyabama

5.split: 
-splits the one string into substring

In [97]:
str="my name is sushma"
str1=(str.split())
print(str1)

['my', 'name', 'is', 'sushma']

6.join: it joins the substring all into one string

In [104]:
name=['sushma','pavan','srinu','vaishu']
print(" ".join(name))

sushma pavan srinu vaishu

7.capitalize: it converts the first character to upper case

In [107]:
r="sushma"
print(r.capitalize())

Sushma

8.casefold: it returns the string into lower case

In [110]:
name="SuShMA"
print(name.casefold())

sushma

9.center: it returns the centered string

In [117]:
name="hello world"
print(name.center(90))

                                       hello world

10.count: it represents the number of occurance of a string

In [126]:
str="Teks is an academy "
print(str.count('an'))

1

11.find: it finds the string place and identifies it

In [129]:
str="my name is sushma"
print(str.find('is'))

8

12.encode: it returnes the encoded version of the string

In [132]:
name="hi"
end=name.encode()
print(end)

b'hi'

13.endswith: it prints true if the string ends with the specified value

In [137]:
name="datascience"
str=name.endswith('ce')
print(str)

True

14.format: it formats the specific tabs in the string

In [140]:
name="sushma"
age=20
formated_string="my name is {} and i'm {} years old" .format(name,age)
print(formated_string)

my name is sushma and i'm 20 years old

15.expandtabs: it sets the string tab size

In [145]:
text_with_tabs="my,\t name!\t how are you?"
str=text_with_tabs.expandtabs()
print(str)

my,      name!   how are you?

16.index: it returns the position of the string and gives it index number

In [150]:
name="sushmaa"
print(name.index('a'))

5

17.isalnum: it returns true if the string is alphanumeric

In [157]:
name="sushma0"
print(name.isalnum())

True

18.isalpha: it returns true if all the characters in the string are alphabets

In [166]:
name="sushma0"
print(name.isalpha())

False

19.isascii: it returns true if all character in the string are ascii

In [171]:
#example
import string
str=string.ascii_lowercase
print(str)

abcdefghijklmnopqrstuvwxyz

20.isdecimal: it returns true if all character in the string are decimals

In [178]:
weight="61.5,99.6,5.0"
print(weight.isdecimal())

False

21.isdigit: it returns true if all character in a string are digits

In [183]:
number="0"
print(number.isdigit())

True

22.isidentifier: it returns true if the string is an identifier and it cannot come true is they are numbers

In [188]:
name="sushma_04"
print(name.isidentifier())

True

23.islower: it returns true if all characters in the string are lowercase

In [191]:
name="Akash"
print(name.islower())

False

24.isupper: it returns true if all character in the string are uppercase

In [194]:
name="sushma"
print(name.isupper())

name="SUSHMA"
print(name.isupper())

False
True

25.isnumeric: it returns true if all character in the string are numeric

In [197]:
age="66,77"
print(age.isnumeric())
age="7"
print(age.isnumeric())

False
True

26.istitle: it returns true if the string is title cased

In [200]:
str="my name is sushma"
print(str.istitle())

False

27.isspace: it returns true if all characters in the string are whitespaces

In [207]:
name=" sushma p "
print(name.isspace())

False

28.isprintable: it returns true if all character in the string are printable

In [210]:
name="sushma"
print(name.isprintable())

True

29.lstrip: it returns a copy of tyhe string by removing starting whitespaces

In [213]:
str="sushmaa   "
print(str.lstrip())

sushmaa

30.rstrip: it returns the string by removing the ending whitespaces

In [216]:
str="sushmaa"
print(str.rstrip())

sushmaa

31.splitlines: it will split the string and returns a list

In [219]:
str="my\n name\n is\n sushu\n"
c=str.splitlines()
print(c)

['my', ' name', ' is', ' sushu']

32.ljust: the string methods returns a new string of a given length after substituting a given character in rightside of original string

In [224]:
str="sushmaaa"
length=5
print(str.ljust(length))

sushmaaa

33.rjust: thsi method returns a new string of a given length after substituting a given character in leftside of original strin

In [227]:
str="sushma"
length=7
print(str.rjust(length))

 sushma

34.zfill: it returns a copy of the string with 0 characters padded to the left side of the given string

In [230]:
name="my name is sushma"
print(name.zfill(23))
print(name.zfill(30))
print(name.zfill(40))

000000my name is sushma
0000000000000my name is sushma
00000000000000000000000my name is sushma

35.swapcase: converts all uppercase characters to lowercase and viceversa

In [233]:
str="SuSHma"
print(str.swapcase())

str="sushmaa"
print(str.swapcase())

ste="SUSHMA"
print(str.swapcase())

sUshMA
SUSHMAA
SUSHMAA

36.startswith: returns true if a string starts with the given prefix

In [236]:
str="sushma"
print(str.startswith("sushma"))

True

37.rindex: returns the highest index of the substring inside the string

In [239]:
str='hi for sushma'
name=str.rindex('sushma')
print("substring 'hi':",name)

substring 'hi': 7

38.rfind: returns the highest index of the substring

In [242]:
str="sushmaforsushma"
print(str.rfind("sushma"))

9

39.format_map:formats specified values in a string using a dictionary

In [ ]:
a={'x':'sushma','y':'ram'}
print("{x}'s last name is {y}".format_map(a))