# Define Tuples

In [ ]:
- Python Tuple is a collection of Python Programming objects much like a list.
- The data type that represents an ordered, immutable and sequence of elements
- Similar to lists but the only difference is tuples and cannot be modified
- Defines using paranthesis () 
- seperated by commas ,.

# Features of tuples

In [ ]:
- Immutable 
- Each element in a tuple has a specified order that will never change becoz tuples are ordered sequences

# Creating 10 examples

In [8]:
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [10]:
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [12]:
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

Initial empty Tuple:
()

In [14]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [16]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [18]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [20]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [22]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [24]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [26]:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

# Accessing of tuples

- supports only indexing and slicing

In [34]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [36]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [38]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [40]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [42]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

# Tuple Operation

1.concatation :

- combining two tuples

In [52]:
tuple1=(1,2,3)
tuple2=("sushma","harsha")
result=tuple1+tuple2
print(result)

(1, 2, 3, 'sushma', 'harsha')

In [54]:
tuple1=(1,2,3)
tuple2=(4,5,6)
result=tuple1+tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [56]:
tuple1=(1,2,3)
tuple2=(9,10,11,12)
result=tuple1+tuple2
print(result)

(1, 2, 3, 9, 10, 11, 12)

In [58]:
tuple1=(1,2,3)
tuple2=("sushma","harsha","Nirmala")
result=tuple1+tuple2
print(result)

(1, 2, 3, 'sushma', 'harsha', 'Nirmala')

In [60]:
tuple1=(1,2,3,5,4,3)
tuple2=("sushma","harsha")
result=tuple1+tuple2
print(result)

(1, 2, 3, 5, 4, 3, 'sushma', 'harsha')

2.Repetition:

- repeating the tuple

In [66]:
tuple1=(1,2,3)
print(tuple1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [68]:
tuple2=("sushma","harsha")
print(tuple2*4)

('sushma', 'harsha', 'sushma', 'harsha', 'sushma', 'harsha', 'sushma', 'harsha')

In [70]:
tuple2=(9,10,11,12)
print(tuple2*5)

(9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12)

In [72]:
tuple2=("sushma","harsha","Nirmala")
print(tuple2*4)

('sushma', 'harsha', 'Nirmala', 'sushma', 'harsha', 'Nirmala', 'sushma', 'harsha', 'Nirmala', 'sushma', 'harsha', 'Nirmala')

In [76]:
tuple2=(9,10,11,12)
result=tuple2*4
print(result)

(9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12, 9, 10, 11, 12)

# Methods

1.count():

- returns the number of occurences of specified value

In [82]:
t = (1, 2, 2, 3)
print(t.count(2))

2

In [84]:
t = (1, 2, 2, 3,5,4,1,8,6)
print(t.count(1))

2

In [86]:
fruits = ('apple', 'banana', 'orange', 'apple', 'kiwi')
print(fruits.count('apple'))

2

In [88]:
numbers = (1, 2, 3, 1, 4, 1)
print(numbers.count(1))

3

In [90]:
fruits = ('apple', 'banana', 'orange', 'apple', 'kiwi')
print(fruits.count('grape'))

0

In [94]:
numbers = (1, 2, 3, 1, 4, 1)
print(numbers.count(1))  
print(numbers.count(3))

3
1

2. index():

- return the index of the first occurence of specified value

In [101]:
colors = ('red', 'blue', 'green', 'blue')
print(colors.index('blue'))

1

In [103]:
t = (1, 2, 3)
print(t.index(2))

1

In [105]:
numbers = (10, 20, 30, 40, 50)
index_of_30 = numbers.index(30)
print(index_of_30)

2

In [107]:
fruits = ('apple', 'banana', 'apple', 'orange')
index_of_apple = fruits.index('apple')
print(index_of_apple)

0

In [109]:
index_of_second_apple = fruits.index('apple', 1) 
print(index_of_second_apple)

2